In [3]:

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Example dataset: List of transactions
df = [['Milk', 'Bread', 'Butter'],
           ['Bread', 'Butter'],
           ['Milk', 'Bread'],
           ['Milk', 'Bread', 'Butter', 'Eggs'],
           ['Butter', 'Eggs']]

In [4]:
df

[['Milk', 'Bread', 'Butter'],
 ['Bread', 'Butter'],
 ['Milk', 'Bread'],
 ['Milk', 'Bread', 'Butter', 'Eggs'],
 ['Butter', 'Eggs']]

In [5]:
# Initialize TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit_transform(df)

# Convert the array into a pandas DataFrame with appropriate item names
df1 = pd.DataFrame(te_ary, columns=te.columns_)

# Apply Apriori algorithm to find frequent itemsets with a minimum support of 50%
frequent_itemsets = apriori(df1, min_support=0.5, use_colnames=True)

# Generate association rules from the frequent itemsets with a minimum confidence of 75%
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.75)

# Print the frequent itemsets
print("Frequent Itemsets:")
print(frequent_itemsets)

# Print the association rules
print("\nAssociation Rules:")
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

Frequent Itemsets:
   support         itemsets
0      0.8          (Bread)
1      0.8         (Butter)
2      0.6           (Milk)
3      0.6  (Bread, Butter)
4      0.6    (Bread, Milk)

Association Rules:
  antecedents consequents  support  confidence  lift
0      (Milk)     (Bread)      0.6         1.0  1.25

In [9]:
# Initialize TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit_transform(dataset)

# Convert the array into a pandas DataFrame with appropriate item names
df2 = pd.DataFrame(te_ary, columns=te.columns_)

# Apply Apriori algorithm to find frequent itemsets with a minimum support of 60%
frequent_itemsets = apriori(df2, min_support=0.6, use_colnames=True)

# Generate association rules from the frequent itemsets with a minimum confidence of 60%
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

# Print the frequent itemsets
print("Frequent Itemsets:")
print(frequent_itemsets)

# Print the association rules
print("\nAssociation Rules:")
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

Frequent Itemsets:
   support         itemsets
0      0.8          (Bread)
1      0.8         (Butter)
2      0.6           (Milk)
3      0.6  (Bread, Butter)
4      0.6    (Bread, Milk)

Association Rules:
  antecedents consequents  support  confidence    lift
0     (Bread)    (Butter)      0.6        0.75  0.9375
1    (Butter)     (Bread)      0.6        0.75  0.9375
2     (Bread)      (Milk)      0.6        0.75  1.2500
3      (Milk)     (Bread)      0.6        1.00  1.2500

In [7]:
df1

   Bread  Butter   Eggs   Milk
0   True    True  False   True
1   True    True  False  False
2   True   False  False   True
3   True    True   True   True
4  False    True   True  False

In [10]:
df2

   Bread  Butter   Eggs   Milk
0   True    True  False   True
1   True    True  False  False
2   True   False  False   True
3   True    True   True   True
4  False    True   True  False